bash/*
!bash/run-CN-plots.sh
data/*
!data/all_data_by_genes.txt
!data/hg19.mat
!data/pptc-pdx-clinical-web.txt
paper/*
results/*
R/*
!R/sv_figure.R
!R/pedcbio_format.R
!R/pubTheme.R
!R/focal-CN.R
!R/get_data.R
!R/ATRX_exon_coverage.R
!R/atrx_tx_plot.R
!R/install-packages.R
!R/CN-plot-by-histology-revision.R
.DS_Store
.Rhistory
